// Colors
$primary-color: #6358DC;
$primary-color-hover: #5849e6;
$text-dark: #333;
$text-light: #666;

// Breakpoints
$mobile-breakpoint: 768px;

// You can add more shared variables here
$border-radius-lg: 20px;
$border-radius-full: 50%;
$box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
